<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}"><i class="material-icons"></i>Formation</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{/Promotion}">Promotion</a></li>
      <li><a th:href="@{/Module}">Module</a></li>
      <li><a th:href="@{/Apprenant}">Apprenant</a></li>
      <li><a th:href="@{/Enseigant}">Enseignant</a></li>
      <li><a th:href="@{/Evaluation}">Evaluation</a></li>
    </ul>
  </div>
</nav>
